In [44]:
try:
    import json
except ImportError:
    import simplejson as json

# Import the tweepy library
import tweepy #https://github.com/tweepy/tweepy
import pandas as pd

In [45]:
access_key = '1114729926220029952-iRvFI2bxJLMhus1qIbNYRv4G95T69H'
access_secret = 'kHV9lIIQSLB7fyoxU2ac4DQ58QQucjzMmkCRQQjG0EXPq'
consumer_key = 'SpGKLR54vFkXttiAEU7hfXVi2'
consumer_secret = 'rmevPzZofNnwdELz0IOl5XZ25MVOhqbofMaJum98YxIrE9jpws'

In [49]:
def get_all_tweets(screen_name):
	#Twitter only allows access to a users most recent 3240 tweets with this method
	
	#authorize twitter, initialize tweepy
	auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
	auth.set_access_token(access_key, access_secret)
	api = tweepy.API(auth)
	
	#initialize a list to hold all the tweepy Tweets
	alltweets = []	
	tweets = []
	#make initial request for most recent tweets (200 is the maximum allowed count)
	new_tweets = api.user_timeline(screen_name = screen_name,count= 3200)#,include_rts='false')

	tweets = [tweet._json for tweet in new_tweets]
	with open('data_tweet.json', 'w', encoding='utf8') as outfile:
		json.dump(tweets, outfile)
	return

In [50]:
#pass in the username of the account you want to download
get_all_tweets("midasIIITD")

In [51]:
df = pd.read_json("data_tweet.json")

In [52]:
y=[]
#for x in df["extended_entities"]:
    #y.append(x.is_empty)
#type(str(df["extended_entities"][0]))
for i in range(len(df)):
    if(type(df["extended_entities"][i]) == float):
        y.append("NONE")
    else:
        temp = df["extended_entities"][i]
        y.append(len(temp["media"]))
        
df["Image Count"]=y

In [53]:
df_answer=df[['created_at','text','favorite_count','retweet_count',"Image Count"]]
df_answer.to_csv("TwitterSoln.csv")

In [54]:
df_answer.head()

,created_at,text,favorite_count,retweet_count,Image Count
0,2019-04-11 02:44:50,@rahulkanojia98 Before 14 April.,0,0,NONE
1,2019-04-10 19:31:59,Considering several requests to extend the dea...,0,0,NONE
2,2019-04-10 18:33:18,We will close the submission portal in 15 min....,0,0,NONE
3,2019-04-10 18:00:48,RT @RatnRajiv: @midasIIITD @IIITDelhi @Hitkul_...,0,2,NONE
4,2019-04-10 17:05:53,@midasIIITD lab is looking for motivated MTech...,4,3,NONE